.badge-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-cart{
  text-transform: none !important;
}

#cart {
  .item {
    ion-thumbnail {
      width: 140px;
      height: 90px;

      img {
        width: 140px;
        height: 90px;
        border-radius: 5px;
      }
    }



    ion-note {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  #empty {

    h4 {
      color: #888888;
      font-weight: bolder;
    }

    p {
      color: #888888;
    }
  }
}

ion-footer {
  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  ion-button {
    --box-shadow: -1px 1px 17px -3px var(--ion-color-color1);
  }
}

.toggle_box {
  display: flex;
  align-items: center;
  min-width: fit-content;

  span {
    display: block;
    font-size: 0.92rem;
    color: var(--text-light);
    font-weight: 500;
  }

  ion-toggle {
    --background: #6d6b6b;
    --background-checked: #6d6b6b;
    --handle-background: #464646;
    --handle-background-checked: var(--ion-color-color1);
    --handle-height: 13px;
    --handle-width: 13px;
    --handle-box-shadow: none;
    height: 19px;
    width: 34px;
  }

  &.in_stock {
    span {
      color: var(--ion-color-color1);
    }
  }
}
