ion-grid {
  background-color: #6d6b6b;
}

ion-item {
  font-size: small;
  font-family: "Segoe UI", Arial, sans-serif;
  --ion-background-color: #6d6b6b;
}

ion-list {
  background-color: #6d6b6b;
}
ion-item-divider {
  --ion-background-color: #6d6b6b;
}
ion-router-link {
  color: #f5f6f9;
}
