<ion-grid>
    <ion-row>
        <ion-col class="ion-no-padding">
            <ion-item-divider class="ion-no-margin">
                <ion-label color="color1" class="text-bold"><h2>{{"Footer.service_client" | translate}}</h2></ion-label>
            </ion-item-divider>

            <!--                    <ion-card-content>-->
            <ion-list lines="none">
<!--                <div class="ion-text-center">-->
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.how_to_buy" | translate}}?
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.contact" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.return_politic" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.delivery_price" | translate}}
                        </ion-router-link>
                    </ion-item>
<!--                </div>-->
            </ion-list>
        </ion-col>
        <ion-col class="ion-no-padding">
            <ion-item-divider class="ion-no-margin">
                <ion-label color="color1" class="text-bold"><h2>{{"Footer.about_us" | translate}}</h2></ion-label>
            </ion-item-divider>

            <!--                    <ion-card-content>-->
            <ion-list lines="none">
                <div class="ion-text-center">
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.a_propos" | translate}}?
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.carriere" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.sale" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.gen_condition" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.help" | translate}}
                        </ion-router-link>
                    </ion-item>
                    <ion-item class="ion-no-margin"
                              lines="none">
                        <ion-router-link routerDirection="root" class="underline">
                            {{"Footer.about_us" | translate}}
                        </ion-router-link>
                    </ion-item>
                </div>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
