<ion-header>
    <ion-toolbar color="color1">
        <ion-buttons slot="start">
            <ion-back-button color="white" defaultHref="menu/tabs/products"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ article?.title }}</ion-title>
        <ion-buttons slot="end">
            <ion-nav-link style="font-style: italic; color: gray"
                          [routerLink]="utilisateur._id ? '/menu/tabs/profile' : '/onbroading'"
                          [routerDirection]="'root'">{{utilisateur._id ? ' ' : 'Sign in'}}</ion-nav-link>
            <ion-button (click)="share()">
                <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button>
            <ion-fab-button (click)="gotoCartPage()" #cart color="clear">
                <div *ngIf="cartItemCount.value > 0" class="cart-length"
                     style="color: brown">{{cartItemCount | async}}</div>
                <ion-icon name="cart" class="cart-icon"></ion-icon>
            </ion-fab-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="ion-no-margin">
                    <div id="top-slider">
                        <ion-fab vertical="top" horizontal="end" slot="fixed" color="dark-shade">
                            <ion-fab-button color="medium-shade" (click)="checkLike()">
                                <ion-icon name="heart" color="{{like === true ? 'danger':'dark-tint'}}"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>

                        <ion-slides pager="true" [options]="slideOpts" class="ion-padding-top" #slideWithNav>
                            <ion-slide (click)="showImage(image, article.title)" *ngFor="let image of images">
                                <img *ngIf="isImage(image)"
                                     src="https://egoalservice.azurewebsites.net/image/{{image}}" height="400"
                                     width="400"/>
                                <!--                                <ion-button *ngIf="!isImage(image)" slot="end" fill="clean" size="large" (click)="openModal('https://egoalservice.azurewebsites.net/image/'+ image)">-->
                                <!--                                    <ion-icon name="play-circle-outline"></ion-icon>-->
                                <!--                                </ion-button>-->
                                <video *ngIf="!isImage(image)"
                                       controls preload height="400" width="400" #video>
                                    <source src="https://egoalservice.azurewebsites.net/image/{{image}}"
                                            id="video_here" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </ion-slide>
                        </ion-slides>
                    </div>

                    <div align="center">
                        <ion-row>
                            <ion-col>
                                <ion-label>
                                    Visite(s)
                                    <ion-icon color="color1" name="eye"></ion-icon>
                                    |
                                </ion-label>
                                <ion-label color="color1">{{views}}</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label>
                                    Status |
                                </ion-label>
                                <ion-label color="color1">{{article.status}}</ion-label>
                            </ion-col>
                        </ion-row>
                    </div>

                    <div class="">
                        <ion-card-title>
                            <ion-chip color="primary">
                                <ion-label>{{ article?.categories }}</ion-label>
                            </ion-chip>
                            <ion-chip color="warning">
                                <ion-label>{{ article?.state }}</ion-label>
                            </ion-chip>
                            <ion-chip color="secondary">
                                <ion-label>{{ article?.availability?.type }}</ion-label>
                            </ion-chip>
                            <ion-chip *ngIf="article?.availability?.available === true">
                                <ion-label>Disponible</ion-label>
                            </ion-chip>
                            <ion-chip color="primary">
                                <ion-label>{{ article?.city }}</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>{{ article?.brands }}</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>{{ article?.model }}</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>{{ article?.year }}</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>{{ article?.transmission }}</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>{{ article?.kilometers }}</ion-label>
                            </ion-chip>
                            <div class="my-container-label">
                                <div class="span-container">
                        <span class="price">
                            {{article?.price | currency:currency:'symbol-narrow':'.2'}}
                        </span>
                                    <span *ngIf="article?.averageStar >= 1">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 2">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 3">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 4">
                             <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 5">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                </div>
                            </div>
                        </ion-card-title>
                        <p style="text-align: justify">{{ article?.description }}</p>
                        <h3 class="title">Laissez une note</h3>
                        <div class="rating-container">
                            <rating
                                    [(ngModel)]="rate"
                                    readonly="false"
                                    size="default"
                                    (ngModelChange)="onModelChange($event)">
                            </rating>
                            <ion-button (click)="leaveNote()" color="color1" size="small">Noter</ion-button>
                        </div>
                        <!--                        <ion-button class="add-to-cart" color="color1" expand="block" (click)="addToCart()">ADD TO CART-->
                        <!--                        </ion-button>-->
                    </div>
                    <ion-button #edit>
                        <ion-icon name="edit"></ion-icon>
                    </ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer no-border>
    <ion-toolbar class="ion-padding" transparent no-border>
        <!-- Add To Cart Button -->
        <ion-button *ngIf="!contains(product.categories,['Automobile', 'Auto', 'Voiture'])" class="add-to-cart"
                    color="color1" expand="block" (click)="addToCart()">ADD TO CART
        </ion-button>
        <ion-button *ngIf="contains(product.categories,['Automobile', 'Auto', 'Voiture'])" class="add-to-cart"
                    color="color1" expand="block" (click)="contact()">
            CONTACT SALER
        </ion-button>
    </ion-toolbar>
</ion-footer>
