#categories {
  .text-bold {
    font-weight: bold;
  }

  .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
  }

  .card-img1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
  }

}
