
.toolbar-background {
  #oneColumn .card-img {
    width: 50px;
  }

  //background-image: url('src/assets/egoal_title.png')!important;
  //background-size: cover;
  //background-position: center center;
  //background-repeat: no-repeat;
}

.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.card-img1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
}

#home {

  #searchbar {
    ion-searchbar {
      --background: var(--ion-color-white);
      border: 1px solid var(--ion-color-medium);
      border-radius: 25px !important;
    }
  }

  #grid {
    .img-wrap {
      height: 300px;
    }

    .ion-text-wrap,
    [text-wrap] {
      white-space: normal !important;
    }

    .cat-name {
      font-size: 1.2rem;
      color: rgba(8, 8, 8, 0.58);
    }
  }
}

.cart-icon {
  font-size: 25px;
}

.cart-length {
  color: var(--ion-color-dark-contrast);
  position: absolute;
  top: 0px;
  left: 15px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
  font-style: inherit;
}

.text-bold {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.announceId {
  background-color: #ECEFF1;
}

ion-item {
  //max-width: 100% !important;
  width: 300px;
  --ion-background-color: #cfd7df;
  border-radius: 5px;
  height: 50%;
}

ion-select {
  font-size: 10px;
  max-width: 100% !important;
  width: 100%;
}

ion-toolbar {
  --background: transparent;
  border-color: transparent;
}

//ion-content {
//  --offset-top: 0px;
//  position: absolute;
//}
