ion-slide {
  flex-direction: column;
  height: 100vh;
  background: #989aa2;
  //background: rgb(35, 45, 54);
}

.ion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 40vh;
  border: 1px solid white;
  border-radius: 20vw;
}

.title_icon {
  font-size: 180px;
  color: white;
  border: hidden;
}

ion-icon {
  font-size: 80px;
  color: white;
}

h2, p {
  text-align: center;
  color: white;
}
