<ion-list>
    <ion-item>
        <p style="font-size:small" class="ion-no-padding">Holder name:</p>&nbsp;&nbsp;
        <ion-label class="ion-no-padding"
                style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.account_holder_name}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Holder type:</p>&nbsp;&nbsp;
        <ion-label
                style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.account_holder_type}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Bank name:</p>&nbsp;&nbsp;
        <ion-label style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.bank_name}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Country:</p>&nbsp;&nbsp;
        <ion-label style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.country}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Currency:</p>&nbsp;&nbsp;
        <ion-label style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.currency}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Account Number:</p>&nbsp;&nbsp;
        <ion-label style="font-family: Bahnschrift; font-size: small; color: #4e555b">...{{bank.last4}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Routing number:</p>&nbsp;&nbsp;
        <ion-label
                style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.routing_number}}</ion-label>
    </ion-item>
    <ion-item>
        <p style="font-size:small">Status:</p>&nbsp;&nbsp;
        <ion-label style="font-family: Bahnschrift; font-size: small; color: #4e555b">{{bank.status}}</ion-label>
    </ion-item>
</ion-list>
