<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
        <ion-title>TDS Sneaker</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-menu contentId="content" class="my-custom-menu">
        <ion-header>
            <ion-toolbar>
                <ion-title>menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>

            <div *ngFor="let p of pages">
                <ion-menu-toggle *ngIf="p.url">
                    <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                        <ion-icon [name]="p.icon" slot="start"></ion-icon>
                        <ion-label>
                            {{p.title | translate}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </div>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content"></ion-router-outlet>

    <ion-content class="tdsProducts">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let article of articles" size="6">
                    <ion-card (click)="showDetails(article._id)" class="ion-no-margin">
                        <ion-card-content>
                            <ion-label>
                                {{article.title}}
                            </ion-label>
                        </ion-card-content>
                        <ion-card-content>
                            <div class="card-img" [style.background-image]="'url(https://egoalservice.azurewebsites.net/image/' + article.pictures[0] + ')'">
                            </div>
                            <div class="my-container-label">
                                <div class="span-container">
                        <span class="price">
                            {{article?.price | currency}}
                        </span>
                                    <span *ngIf="article?.averageStar >= 1">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 2">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 3">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 4">
                             <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                    <span *ngIf="article?.averageStar >= 5">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                        </span>
                                </div>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>
