.active-item {
  bordor-left: 8px solid var(--ion-color-primary);
}

.my-custom-menu {
  width: 50px;
}

.active {
  --ion-text-color: var(--ion-color-primary);

  ion-icon {
    --ion-text-color-rgb: var(--ion-color-primary);
  }
;
  bordor-left: 8px solid var(--ion-color-primary);
}

.active-parent {
  font-weight: 500;
}

.sub-item {
  padding-left: 20px;
  font-size: small;
}

ion-content {
  background: rgb(35, 45, 54) no-repeat !important;
}

ion-toolbar {
  background-color: rgb(35, 45, 54);
}

.my-custom-menu {
  width: 200px;
}

.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#tdsProducts {
  .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
