<ion-content>
  <div class="ion-text-start">
    <ion-button (click)="dismiss()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>
  <div>
    <!-- Modal content -->
    <div id="video">
      <!--        <span class="close" (click)="closeModal()">&times;</span>-->
      <video style="height: 100%; width: 100%" controls autoplay>
        <source src="mov_bbb.mp4" id="video_here">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</ion-content>

