.larger {
  font-size: 200%;
}
.ion-card {
  font-size: 100%;
}
.bgcolor {
  background: blue;
}

ion-col {
  //border: 2px solid #aeb7ca;
  //border-radius: 5px;
  text-align: center;
}

button {
  color: floralwhite;
}

ion-item{
  --ion-item-background: var(--ion-color-primary);
}

/* loading spinner */
.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
  content: "◎◎◎\A◉◎◎\A◎◉◎\A◎◎◉";
  animation: spin 1s steps(4) infinite;
}

@keyframes spin  { to { transform: translateY( -6.0em); } }

