<!--<span class="form-inline">-->
<!--  <select-->
<!--          class="form-control"-->
<!--          #selectedLang-->
<!--          (change)="switchLang(selectedLang.value)">-->
<!--    <option *ngFor="let language of translate.getLangs()"-->
<!--            [value]="language"-->
<!--            [selected]="language === translate.currentLang">-->
<!--      {{ language }}-->
<!--    </option>-->
<!--  </select>-->
<!--</span>-->
<!--<div class="container">-->
<!--    <form>-->
<!--        <div class="form-group">-->
<!--            <label translate="Name"></label>-->
<!--            <input type="text" class="form-control">-->
<!--            <small class="text-danger">{{'NameError' | translate}}</small>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>
