<ion-header>
    <ion-toolbar color="color1">
        <ion-buttons slot="start">
            <ion-menu-toggle menu="pages">
                <ion-button color="white">
                    <ion-icon name="reorder-four-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
    <ion-toolbar color="color1">
        <ion-segment [(ngModel)]="profileType" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="Profile" layout="icon-start">
                <ion-icon name="person"></ion-icon>
                <ion-label>{{"Profile.Profile" | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Mes articles" layout="icon-start">
                <ion-icon name="pricetags"></ion-icon>
                <ion-label>{{"Profile.articles" | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Compte" layout="icon-start">
                <ion-icon name="analytics"></ion-icon>
                <ion-label>{{"Profile.Compte" | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Chargement...">
        </ion-refresher-content>
    </ion-refresher>
    <div [ngSwitch]="profileType">
        <div *ngSwitchCase="'Profile'">
            <ion-item>
                <form [formGroup]="uploadForm" (ngSubmit)="updateProfile()">
                    <ion-avatar slot="start">
                        <ion-img [src]="imgURL"></ion-img>
                    </ion-avatar>

                    <div class="my-container-label">
                        <ion-label class="my-label-title">{{utilisateur?.username}}</ion-label>
                        <ion-label color="medium">{{utilisateur.contact}}</ion-label>
                    </div>
                    <ion-buttons slot="end">
                        <input type="file" name="file" id="fileId" (change)="onFileSelect($event)"
                               class="inputfile"/>
                        <label color="secondary" class="custom-file-upload" for="fileId">
                            <ion-icon name="camera" slot="icon-only"></ion-icon>
                        </label>
                    </ion-buttons>
                </form>
            </ion-item>
            <ion-item>
                <ion-label position="floating">
                    Nom d'utilisateur
                </ion-label>
                <ion-input type="text" [(ngModel)]="utilisateur.username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">
                    Email d'utilisateur
                </ion-label>
                <ion-input type="text" [(ngModel)]="utilisateur.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-item-group>
                    <ion-label>
                        Currency
                    </ion-label>
                    <ion-button (click)="setCurrency($event)" color="secondary">
                        <ion-icon src="{{'assets/' + authSrv.currentUser.currency.icon + '.svg'}}"></ion-icon>
                        <span>{{authSrv.currentUser.currency.currency}}</span>
                    </ion-button>
                </ion-item-group>
            </ion-item>
            <ion-item>
                <ion-item-group>
                    <ion-label>
                        Contacts
                    </ion-label>
                    <ion-item *ngFor="let telephone of authSrv.userInfo.telephones; let i = index">
                        <ion-input required type="text" [(ngModel)]=telephone.numeroTelephone
                                   [ngModelOptions]="{standalone: true}"
                                   placeHolder="Numero"></ion-input>
                        <ion-select [(ngModel)]="telephone.categorieTelephone" placeholder="Categorie"
                                    [ngModelOptions]="{standalone: true}">
                            <ion-select-option *ngFor="let t of options" [value]="t">
                                {{t}}
                            </ion-select-option>
                        </ion-select>
                        <ion-icon (click)="removeControl(i)" name="close-circle"></ion-icon>
                    </ion-item>
                    <ion-button expand="full" color="light" (click)="addTelephone()">Add Telephone</ion-button>
                </ion-item-group>
            </ion-item>
            <ion-card>
                <ion-card-header>
                    <h4>Adresse</h4>
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-input name="nomRue" #name="ngModel" required="true"
                                   [(ngModel)]="authSrv.address.roadName" [ngModelOptions]="{standalone: true}"
                                   placeholder="Entrer l'adresse">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="appartNumber" #name="ngModel" [(ngModel)]="authSrv.address.appartNumber"
                                   [ngModelOptions]="{standalone: true}" placeholder="Numero appartement(Facultatif)">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="ville" #name="ngModel" [(ngModel)]="authSrv.address.town"
                                   [ngModelOptions]="{standalone: true}" placeholder="Ville"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="postalCode" #name="ngModel" [(ngModel)]="authSrv.address.postalCode"
                                   [ngModelOptions]="{standalone: true}" placeholder="Code postal"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="region" #name="ngModel" [(ngModel)]="authSrv.address.region"
                                   [ngModelOptions]="{standalone: true}" placeholder="region"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="pays" #name="ngModel" [(ngModel)]="authSrv.address.country"
                                   [ngModelOptions]="{standalone: true}" placeholder="pays"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <form [formGroup]=userForm (ngSubmit)="updateProfile()">
                <ion-item>
                    <ion-item aria-expanded="true">
                        <ion-label>Mot de passe</ion-label>
                        <ion-row>
                            <ion-col size="7">
                                <ion-input [type]="passwordType" [ngModelOptions]="{standalone: true}"
                                           *ngIf="ischanged"
                                           formControlName="password"
                                           placeholder="Entrer le password">
                                </ion-input>
                                <ion-label *ngIf="!ischanged">************
                                </ion-label>
                            </ion-col>
                            <ion-col size=2>
                                <ion-button (click)="togglePassword()" *ngIf="ischanged" fill="clear">
                                    <ion-icon name="eye" color="color1" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <!--                            <ion-col size=1></ion-col>-->
                            <ion-col size=2>
                                <ion-toggle [(ngModel)]="ischanged" color="color1"
                                            [ngModelOptions]="{standalone: true}" checked>
                                </ion-toggle>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item *ngIf="ischanged">
                        <div class="form-group">
                            <ion-input [type]="passwordType" formControlName="passwordConfirm"
                                       placeholder="Confirm Password"
                                       [ngModelOptions]="{standalone: true}">
                            </ion-input>

                            <div class="text-danger"
                                 *ngIf="passwordConfirm?.valid && (passwordConfirm.dirty || passwordConfirm.touched)">
                                <div *ngIf="userForm.errors.passwordMismatch">
                                    Password and Confirm Password fields should match
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-item>
                <ion-button expand="block" [disabled]="!userForm.valid" type="submit" color="color1">
                    Mettre a jour
                </ion-button>
            </form>
        </div>
        <div *ngSwitchCase="'Mes articles'">
            <list *ngIf="platform.is('ios') || platform.is('android')">
                <ion-item-sliding *ngFor="let article of articles; let i = index">
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <ion-img
                                    src="{{url}}/image/{{article.pictures[0]}}"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                            <h2>{{article.title}}</h2>
                            <p>{{article.description}}</p>
                            <p>{{article.price | currency}}</p>
                            <p>
                             <span *ngIf="article?.averageStar >= 1">
                                <ion-icon class="iconStar" name="star"></ion-icon>
                             </span>
                                <span *ngIf="article?.averageStar >= 2">
                                <ion-icon class="iconStar" name="star"></ion-icon>
                                </span>
                                <span *ngIf="article?.averageStar >= 3">
                                 <ion-icon class="iconStar" name="star"></ion-icon>
                              </span>
                                <span *ngIf="article?.averageStar >= 4">
                              <ion-icon class="iconStar" name="star"></ion-icon>
                                     </span>
                                <span *ngIf="article?.averageStar >= 5">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                                     </span>
                            </p>
                        </ion-label>
                    </ion-item>

                    <ion-item-options side="start">
                        <ion-item-option (click)="updateArticle(article, i)" color="tertiary" expandable>
                            <ion-icon name="create" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="end">
                        <ion-item-option (click)="deleteArticle(article, i)" color="danger" expandable>
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </list>
            <list *ngIf="!platform.is('ios') && !platform.is('android')">
                <ion-item *ngFor="let article of articles; let i = index">
                    <ion-thumbnail slot="start">
                        <ion-img
                                src="{{url}}/image/{{article.pictures[0]}}"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>
                        <p>{{article.price | currency}}</p>
                        <p>
                             <span *ngIf="article?.averageStar >= 1">
                                <ion-icon class="iconStar" name="star"></ion-icon>
                             </span>
                            <span *ngIf="article?.averageStar >= 2">
                                <ion-icon class="iconStar" name="star"></ion-icon>
                                </span>
                            <span *ngIf="article?.averageStar >= 3">
                                 <ion-icon class="iconStar" name="star"></ion-icon>
                              </span>
                            <span *ngIf="article?.averageStar >= 4">
                              <ion-icon class="iconStar" name="star"></ion-icon>
                                     </span>
                            <span *ngIf="article?.averageStar >= 5">
                            <ion-icon class="iconStar" name="star"></ion-icon>
                                     </span>
                        </p>
                    </ion-label>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button fill="clear" (click)="updateArticle(article, i)">
                                    <ion-icon name="create" slot="icon-only"></ion-icon>
                                </ion-button>
                                <ion-button fill="clear" (click)="deleteArticle(article, i)">
                                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </list>
        </div>
        <div *ngSwitchCase="'Compte'" id="account">
            <!-- User/Profile Infos -->
            <ion-item lines="none">
                <!-- Avatar/Image of User -->
                <ion-avatar slot="end">
                    <img src="{{imgURL}}">
                </ion-avatar>

                <!-- Name of User -->
                <ion-label>
                    <h2>{{utilisateur?.username}}</h2>
                    <p>{{utilisateur?.email}}</p>
                </ion-label>
            </ion-item>

            <!-- Some Menu Options -->
            <ion-card>
                <ion-grid>
                    <ion-row class="ion-text-center">
                        <ion-col>
                            <ion-icon name="heart" style="zoom:1.5;"></ion-icon>
                            <br/>
                            <ion-text>Wish List</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon name="checkbox-outline" style="zoom:1.5;"></ion-icon>
                            <br/>
                            Orders
                        </ion-col>
                        <ion-col>
                            <ion-icon name="cart" style="zoom:1.5;"></ion-icon>
                            <br/>
                            Cart
                        </ion-col>
                        <ion-col>
                            <ion-icon name="gift" style="zoom:1.5;"></ion-icon>
                            <br/>
                            Deals
                        </ion-col>
                        <ion-col>
                            <ion-icon button name="mail" style="zoom:1.5;" routerLink="/menu/tabs/messagerie"
                                      routerDirection="root"></ion-icon>
                            <br/>
                            Messages
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>

            <!-- Some Orders Option -->
            <ion-card>
                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Orders</ion-label>
                    </ion-item-divider>

                    <ion-item lines="none">
                        <ion-label>Unpaid</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>To be shipped</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Shipped</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>To be reviewed</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>In dispute</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-card>

            <ion-card>
                <ion-item-group>
                    <ion-item lines="none">
                        <ion-label>Wallet</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Shipping Address</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Redeem invite code</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Questions & Answers</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-card>

            <ion-card>
                <ion-item-group>
                    <ion-item lines="none">
                        <ion-label>Settings</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>App Suggestion</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Help Center</ion-label>
                        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-card>
        </div>
    </div>
</ion-content>
