<ion-header translucent>
    <ion-toolbar color="color1">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu/tabs/messagerie">
            </ion-back-button>
        </ion-buttons>
        <!--        <ion-title *ngIf="uid === '1000'">{{message.title}}</ion-title>-->
        <!--        <ion-title *ngIf="uid !== '1000'">Contacter le vendeur</ion-title>-->
        <ion-buttons>
            <ion-avatar>
                <ion-img src="https://egoal.herokuapp.com/image/{{interlocutor.avatar}}"></ion-img>
            </ion-avatar>
            <ion-title slot="start" style="font-size: small">{{interlocutor.username}}</ion-title>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button (click)="toggleAction()" *ngIf="action === 'read'" fill="outline" slot="=end">Repondre
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header class="toolbar">
    <ion-toolbar color="dark-tint">
        <ion-buttons (click)="showDetails(article._id)">
            <div>
                <ion-thumbnail slot="start">
                    <ion-img src="https://egoal.herokuapp.com/image/{{image}}"></ion-img>
                </ion-thumbnail>
            </div>

            <div class="title">
                <p text-center>
                    {{article_title}}
                </p>
                <p style="color: #6d6b6b">
                    {{(articleService.article.price * cuService.rate) | currency:authSrv.currency.currency:'symbol-narrow':'.2'}}
                </p>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="!platform.is('ios') && !platform.is('android')" class="bg-image">
        <ion-row>
            <ion-col size="3">

            </ion-col>
            <ion-col size="6">
                <!--                <ion-grid fixed>-->
                <ion-row *ngFor="let msg of msgService.messages; let i = index" translucent>
                    <ion-col size="9" offset="{{msg.title !== authSrv.currentUser.username ? 3 : 0}} "
                             class="message {{msg.title !== authSrv.currentUser.username ? 'other-message' : 'my-message'}}">
                        <section class="container">
                            <div style="float: left" class="my-container-label">
                                <div class="my-container-label">
                                    <ion-buttons>
                                        <ion-label class="title" color="dark-shade">
                                            <p>{{msg.title !== authSrv.currentUser.username ? msg.title : 'Me'}}</p>
                                        </ion-label>
                                    </ion-buttons>
                                    <ion-label><p
                                            style="text-align: justify; font-size: large; margin: 10px">{{ msg.content }}</p>
                                    </ion-label>
                                </div>
                                <!--                                    <div class="cart-length">-->
                                <!--                                        <ion-icon name="trash" color="dark" size="small"-->
                                <!--                                                  (click)="handleDeleteButtonClick($event, msg, i)"></ion-icon>-->
                                <!--                                    </div>-->
                                <div class="time" text-right>
                                    <ion-note style="float: left; font-size: x-small"
                                              [color]="msg.read === false && msg.title !== authSrv.currentUser.username ? 'secondary' : 'dark'">
                                        {{getMomentFromNow(msg.createdAt) }}
                                    </ion-note>
                                    <!--                                    <ion-button (click)="handleDeleteButtonClick($event, msg, i)">-->
                                    <ion-icon style="float: right" name="trash" slot="icon-only"
                                              color="secondary"></ion-icon>
                                    <!--                                    </ion-button>-->
                                </div>
                            </div>
                            <div style="float: right">
                                <ion-avatar>
                                    <img [src]="msg.title !== authSrv.currentUser.username ? 'https://egoal.herokuapp.com/image/'+ interlocutor.avatar:
                             'https://egoal.herokuapp.com/image/'+ authSrv.currentUser.avatar"
                                    >
                                </ion-avatar>
                            </div>
                        </section>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" (click)="handleDeleteButtonClick($event, msg, i)" *ngIf="msg.title === authSrv.currentUser.username">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <!--                </ion-grid>-->
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-grid>
    <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}"
         *ngIf="platform.is('ios') || platform.is('android')">
        <div id="chat-container">
            <ion-row *ngFor="let msg of msgService.messages; let i = index" class="full no-padding">
                <ion-item-sliding>
                    <ion-item lines="none" fill="clear">
                        <ion-col class="no-padding chat-row"
                                 [ngClass]="{ 'reverse': msg.title === authSrv.currentUser.username}">
                            <div class="avatar-parent">
                                <div class="avatar-border"></div>
                                <img [src]="msg.title !== authSrv.currentUser.username ? 'https://egoal.herokuapp.com/image/'+ interlocutor.avatar:
                             'https://egoal.herokuapp.com/image/'+ authSrv.currentUser.avatar"
                                     class="avatar">
                            </div>
                            <div [ngClass]="{ 'name-row-parent-right': msg.title === authSrv.currentUser.username ,
                    'name-row-parent-left': msg.title !== authSrv.currentUser.username}">
                                <div class="no-padding"
                                     [ngClass]="{'name-row-right': msg.title === authSrv.currentUser.username,
                              'name-row-left': msg.title !== authSrv.currentUser.username}">
                                    {{msg.title}}
                                    <div style="color: #000000" [ngClass]="{'timer-right': msg.title === authSrv.currentUser.username,
                            'timer-left': msg.title !== authSrv.currentUser.username}">
                                        {{getMomentForMobile(msg.createdAt)}}
                                        <!--                                        {{i + 5}}-->
                                        <!--                                        mins ago-->
                                        <ion-icon *ngIf="msg.title !== authSrv.currentUser.username && msg.read"
                                                  name="checkmark"
                                                  [color]="msg.read ? 'success': 'dark'"
                                                  class="first-tick"></ion-icon>
                                        <ion-icon *ngIf="msg.title !== authSrv.currentUser.username && msg.read == true"
                                                  name="checkmark"
                                                  [color]="msg.read ? 'success': 'dark'"
                                                  class="second-tick"></ion-icon>
                                    </div>
                                    <div [ngClass]="{'reverse-arc-right': msg.title === authSrv.currentUser.username,
                             'reverse-arc-left': msg.title !== authSrv.currentUser.username}">
                                        <div [ngClass]="{'reverse-arc-color-right': msg.title === authSrv.currentUser.username,
                                'reverse-arc-color-left': msg.title !== authSrv.currentUser.username}"></div>
                                    </div>
                                </div>
                                <div class="no-padding"
                                     [ngClass]="{'message-row-right':msg.title === authSrv.currentUser.username,
                             'message-row-left': msg.title !== authSrv.currentUser.username}">
                                    <ion-text no-margin class="text">{{msg.content}}</ion-text>
                                </div>
                            </div>
                        </ion-col>
                    </ion-item>
                    <ion-item-options side="start" *ngIf="msg.title === authSrv.currentUser.username">
                        <ion-item-option (click)="handleDeleteButtonClick($event, msg, i)" color="tertiary" expandable>
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-row>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="action === 'write'">
    <ion-toolbar color="color1">
        <ion-input class="message-editor" type="text" [(ngModel)]="msgContent"
                   placeholder="Tapez votre message"></ion-input>
        <ion-buttons slot="end">
            <ion-button class="message-editor-button" color="light" (click)="send()">
                <ion-icon name="send" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

