.message-editor {
  margin-left: 2px;
  padding-left: 5px;
  background: white;
  border-radius: 3px;
  color: black !important
}
.message-editor-button {
  box-shadow: none;
  width: 50px !important;
  height: 50px !important;
  font-size: 17px;
  margin: auto;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-medium);
  color: black;
}

.other-message {
  background: var(--ion-color-light-shade);
  color:black;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: x-small;
}

.title {
  font-size: small;
  float: right;
  text-align: justify;
  vertical-align: text-top;
}
