/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-container-label {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.my-label-title {
  font-weight: 400;
  font-size: 18px !important;
}

.cart-modal {
  --height: 80%;
  --border-radius: 10px;
  --background: transparent !important;
  padding: 25px;
}

.my-custom-dialog .modal-wrapper{
  width: 5%;

}

.my-custom-search-dialog .modal-wrapper{
  width: 20%;

}

.logo-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-shade);
  padding: 2em 0;
  min-height: 200px;
  .logo-section__wrapper{
    text-align: center;
    .logo-section__logo{
      display: block;
      width: 250px;
      height: 150px;
      border-radius: 100%;
    }
    .logo-section__title{
      font-size: 1.5em;
      font-weight: normal;
      color: var(--dark-color);
    }
  }
}

.split-pane-visible >.split-pane-side {
  min-width: 300px!important;
  max-width: 300px!important;
}

.background-image {
  //--background: url('src/assets/egoal_background.png') no-repeat center center fixed;
  --background: url('src/assets/images/onbroading-2.jpg') no-repeat center center fixed;
  height: 50%;
}
