.span-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price {
  margin-top: 3px;
}
.iconStar {
  color: #f4e242;
  vertical-align: middle;
}

#titleId {
  //padding-top: 10px;
  font-size: 3em;
}

#notification-button {
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}

#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}
