#checkout {
  .selected {
    border: 3px dotted var(--ion-color-color1);
    border-radius: 10px;

    ion-icon {
      color: var(--ion-color-color1);
    }

    ion-text {
      color: var(--ion-color-color1);
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .border-style {
    border: 4px solid;
    width: 60px;
    border-radius: 15%;
  }

  #payment {
    img {
      width: 60px;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 600;
      padding-left: 30px;
      font-family: serif;
    }
  }

  #complete-section {
    h2 {
      font-weight: bold;
    }
  }

}
.toggle_box {
  display: flex;
  align-items: center;
  min-width: fit-content;

  span {
    display: block;
    font-size: 0.92rem;
    color: var(--text-light);
    font-weight: 500;
  }

  ion-toggle {
    --background: #6d6b6b;
    --background-checked: #6d6b6b;
    --handle-background: #464646;
    --handle-background-checked: var(--ion-color-color1);
    --handle-height: 13px;
    --handle-width: 13px;
    --handle-box-shadow: none;
    height: 19px;
    width: 34px;
  }

  &.in_stock {
    span {
      color: var(--ion-color-color1);
    }
  }
}

ion-footer {
  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }
}
