<ion-list *ngIf="option === 'language'">
    <ion-radio-group value="{{language}}">
        <ion-item button *ngFor="let l of languages | keyvalue" [class.active-item] (click)="setLanguage(l.key)">
            <ion-label>{{l.key}}</ion-label>
            <ion-radio slot="end" value="{{l.key}}"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>
<ion-list *ngIf="option === 'currency' || option === 'userCurrency'">
    <ion-radio-group value="{{currency}}">
        <ion-item button *ngFor="let c of currencies | keyvalue" [class.active-item] (click)="setCurrency(c.key)">
            <ion-label>
                <ion-icon src="{{'assets/' + c.value + '.svg'}}" slot="icon-only"></ion-icon>
                {{c.key}}
            </ion-label>
            <ion-radio slot="end" value="{{c.key}}"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>
